/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 17px;
  background: url(../images/background.png);
  background-color: #171717;
  background-repeat: repeat;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1232px;
  margin: 0px auto;
  padding: 0px 15px;
}

@font-face {
  font-family: PoppinsRegular, sans-serif;
  src: url("../fonts/Poppins/PoppinsRegular/PoppinsRegular.ttf");
}
@font-face {
  font-family: PoppinsMedium, sans-serif;
  src: url("../fonts/Poppins/PoppinsMedium/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueRegular.ttf");
}
@font-face {
  font-family: "Helvetica Neue Woff";
  src: url("../fonts/HelveticaNeue/HelveticaNeueRegular.woff");
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayMedium/NeueHaasDisplayMedium.ttf");
}
.header {
  padding-top: 44px;
  padding-bottom: 80px;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.menu__list {
  display: flex;
}
.menu__item {
  padding-right: 50px;
}
.menu:last-child {
  padding-right: 0px;
}
.menu__link {
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #C7C7C7;
}
.menu__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #C7C7C7;
  opacity: 0%;
  transition: 1.5s;
}
.menu__link:hover {
  transition: 3s;
}
.menu__link:hover.menu__link::before {
  -webkit-animation: navigation 1s;
          animation: navigation 1s;
  top: 8px;
  opacity: 100%;
}
@-webkit-keyframes navigation {
  0% {
    top: 30px;
    opacity: 10%;
  }
  100% {
    top: 8px;
    opacity: 100%;
  }
}
@keyframes navigation {
  0% {
    top: 30px;
    opacity: 10%;
  }
  100% {
    top: 8px;
    opacity: 100%;
  }
}

.small-menu {
  width: 53px;
  height: 20px;
  position: relative;
  transition: 3s;
  perspective: 1000px;
}
.small-menu__on, .small-menu__off {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 22px;
  line-height: 109%;
  color: #C7C7C7;
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.small-menu__off {
  transform: rotateY(180deg);
}
.small-menu:hover {
  transition: 1s;
}
.small-menu:hover .small-menu__on {
  transform: rotateY(180deg);
}
.small-menu:hover .small-menu__off {
  transform: rotateY(360deg);
}/*# sourceMappingURL=styles.css.map */