/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  height: 100%;
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 17px;
  background: url(../images/background.png);
  background-color: #171717;
  background-repeat: repeat;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*=__container] {
  max-width: 1202px;
  margin: 0px auto;
  padding: 0px 15px;
}

h1, h2 {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 500;
  color: #FFFFFF;
  text-transform: uppercase;
}

h1 {
  font-size: 80px;
  line-height: 100%;
}

h2 {
  font-size: 68px;
  line-height: 102%;
}

p {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 500;
  font-size: 17px;
  line-height: 158%;
  color: #BDBDBD;
}

@font-face {
  font-family: PoppinsRegular, sans-serif;
  src: url("../fonts/Poppins/PoppinsRegular/PoppinsRegular.ttf");
}
@font-face {
  font-family: PoppinsMedium, sans-serif;
  src: url("../fonts/Poppins/PoppinsMedium/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueRegular.ttf");
}
@font-face {
  font-family: "Helvetica Neue Woff";
  src: url("../fonts/HelveticaNeue/HelveticaNeueRegular.woff");
}
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayMedium/NeueHaasDisplayMedium.ttf");
}
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.3s ease-in;
  padding-top: 44px;
  padding-bottom: 40px;
  background: url(../images/background.png);
  background-color: #171717;
  background-repeat: repeat;
  z-index: 50;
}
.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.header__logo img {
  max-width: 100%;
  display: block;
}
.header--active {
  height: calc(100% - 60px);
}

.menu__list {
  display: flex;
}
.menu__item {
  padding-right: 50px;
}
.menu__item:last-child {
  padding-right: 0px;
}
.menu__link {
  position: relative;
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #C7C7C7;
  padding: 3px;
}
.menu__link::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #C7C7C7;
  opacity: 0%;
  transition: 1.5s;
}
.menu__link:hover {
  transition: 3s;
}
.menu__link:hover.menu__link::before {
  animation: navigation 1s;
  top: 8px;
  opacity: 100%;
}
@keyframes navigation {
  0% {
    top: 30px;
    opacity: 10%;
  }
  100% {
    top: 8px;
    opacity: 100%;
  }
}

.menu-button {
  display: none;
}

.small-menu__list {
  display: none;
}

.intro {
  margin-top: 144px;
}
.intro__info {
  display: flex;
  flex-direction: column;
}
.intro__pic {
  display: none;
}

.intro-block {
  display: flex;
  flex-direction: column;
}
.intro-block__first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.intro-block__second {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.intro-block__third {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-between;
}
.intro-block__text {
  text-align: right;
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 500;
  font-size: 17px;
  line-height: 158%;
  color: #BDBDBD;
}
.intro-block__tablet {
  display: none;
}

.intro-pic__wrapper img {
  width: 100%;
  display: block;
}

.about {
  margin-top: 170px;
}

.about-section__elem-tablet {
  display: none;
}

.about-section__block--margin {
  margin-bottom: 170px;
  margin-left: 23%;
}
.about-section__title {
  margin-bottom: 70px;
}
.about-section__list {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 39px;
       column-gap: 39px;
  margin-bottom: 75px;
}
.about-section__item {
  flex-basis: 29%;
  display: flex;
}
.about-section__item::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background-color: #BDBDBD;
  margin-left: 10%;
}
.about-section__item:last-child::after {
  display: none;
}
.about-section__number {
  margin-bottom: 30px;
}
.about-section__story {
  margin-left: 36%;
}
.about-section__paragraph {
  margin-bottom: 35px;
}
.about-section__logo {
  font-family: "Neue Haas Grotesk Display Pro";
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 125%;
}
.about-section__block--position {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 118px;
       column-gap: 118px;
}
.about-section__elem img {
  width: 100%;
  display: block;
}
.about-section__elem-wrapper {
  margin-bottom: 134px;
}
.about-section__elem-text {
  width: 61%;
}

.releases {
  margin-top: 100px;
  margin-bottom: 100px;
}
.releases__title {
  margin-bottom: 70px;
}

.swiper {
  display: none;
}

.desktop__block {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.swiper-slide h5, .swiper-slide__year, .swiper-slide__listen {
  font-family: "PoppinsRegular", sans-serif;
  font-weight: 500;
  color: #F2F2F2;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 125%;
}

div.swiper-pagination-fraction {
  font-family: "PoppinsRegular", sans-serif;
  color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

.swiper-slide__elem {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.swiper-slide__elem::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #BDBDBD;
  margin-top: 50px;
}

.desktop__wrapping--line::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #BDBDBD;
  margin-bottom: 40px;
}
.desktop__wrapping::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #BDBDBD;
  margin-top: 40px;
}

.kult {
  margin-bottom: 70px;
}
.kult__title {
  margin-bottom: 70px;
}
.kult__wrap {
  display: flex;
  align-items: end;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.kult__pic {
  flex: 1 1 49%;
}
.kult__pic img {
  display: block;
  max-width: 100%;
}
.kult__info {
  flex: 1 1 49%;
}
.kult__info p {
  font-family: "Neue Haas Grotesk Display Pro";
  font-size: 22px;
  line-height: 125%;
  color: #E0E0E0;
  margin-bottom: 25px;
}
.kult__info p:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 210px) and (max-width: 768px) {
  [class*=__container] {
    max-width: 608px;
  }
  .menu__list {
    display: none;
  }
  .menu-button {
    display: block;
    width: 53px;
    height: 20px;
    position: relative;
    transition: 3s;
    perspective: 1000px;
  }
  .menu-button__on, .menu-button__off {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 109%;
    color: #C7C7C7;
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
    backface-visibility: hidden;
  }
  .menu-button__on--active {
    transform: rotateY(180deg);
  }
  .menu-button__off {
    transform: rotateY(180deg);
  }
  .menu-button__off--active {
    transform: rotateY(360deg);
  }
  .header {
    background: url(../images/background.png);
    background-color: #171717;
    background-repeat: repeat;
  }
  .header__logo {
    display: block;
  }
  .small-menu {
    display: none;
  }
  .small-menu--active {
    display: block;
    background: url(../images/background.png);
    background-color: #171717;
    background-repeat: repeat;
    height: 100%;
  }
  .small-menu__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 80px;
    margin: 0 auto;
  }
  .small-menu__item {
    margin-bottom: 35px;
    padding-right: 0px;
  }
  .small-menu__list {
    display: block;
  }
  .small-menu__link {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 104%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #E4E4E4;
  }
  h1 {
    font-size: 48px;
    line-height: 104%;
  }
  .intro {
    margin-top: 134px;
    width: 100%;
  }
  .intro__pic {
    display: block;
    width: 100%;
    height: 969px;
    background: url("../images/intro.webp") center no-repeat;
    overflow: hidden;
    background-size: cover;
  }
  .intro-block {
    margin-bottom: 25px;
  }
  .intro-block__first {
    display: none;
  }
  .intro-block__second {
    display: none;
  }
  .intro-block__third {
    display: none;
  }
  .intro-block__text {
    display: none;
  }
  .intro-block__tablet {
    display: block;
    margin-bottom: 28px;
  }
  .intro-pic {
    display: none;
  }
  .about {
    margin-top: 140px;
  }
  .about-section h2 {
    font-size: 40px;
    line-height: 112%;
  }
  .about-section__block--margin {
    margin-bottom: 140px;
    margin-left: 0;
  }
  .about-section__story {
    margin-left: 0;
  }
  .about-section__number {
    margin-bottom: 18px;
  }
  .about-section__list {
    flex-wrap: wrap;
    -moz-column-gap: 0;
         column-gap: 0;
    margin-bottom: 35px;
  }
  .about-section__item::after {
    display: none;
    margin-bottom: 25px;
  }
  .about-section__item--1 {
    flex-basis: 47%;
    margin-right: 3%;
  }
  .about-section__item--2 {
    flex-basis: 47%;
    margin-left: 3%;
  }
  .about-section__item--3 {
    flex-basis: 100%;
    margin-top: 5%;
  }
  .about-section__item-wrapper {
    margin-bottom: 25px;
  }
  .about-section__block--position {
    display: none;
  }
  .about-section__elem-tablet {
    display: block;
  }
  .about-section__elem-tablet img {
    display: block;
    width: 100%;
  }
  .about-section__elem-tablet p {
    margin-top: 40px;
    margin-left: 12%;
    margin-right: 12%;
    width: 50%;
  }
  .releases {
    margin-top: 90px;
  }
  .releases__title {
    font-size: 40px;
    margin-bottom: 50px;
  }
  .swiper {
    display: block;
    width: 100%;
  }
  .swiper-wrapper {
    max-width: 100%;
  }
  .swiper-slide__description {
    justify-content: space-between;
  }
  .swiper-slide__elem {
    width: 100%;
  }
  .swiper-slide__elem img {
    display: block;
    max-width: 100%;
  }
  .swiper-slide__title {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .swiper-slide__text {
    margin-bottom: 40px;
    min-height: 190px;
  }
  .swiper-slide__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .desktop__block {
    display: none;
  }
  .kult__title {
    font-size: 40px;
    line-height: 112%;
    margin-bottom: 50px;
  }
  .kult__wrap {
    flex-direction: column;
    row-gap: 30px;
  }
}
@media (min-width: 1920px) and (max-width: 3000px) {
  [class*=__container] {
    max-width: 1544px;
  }
  .header {
    background: url(../images/background.png);
    background-color: #171717;
    background-repeat: repeat;
  }
  h1 {
    font-size: 105px;
    line-height: 83%;
  }
  .intro {
    margin-top: 174px;
  }
  .test {
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 210px) and (max-width: 290px) {
  .header {
    padding-top: 20px;
  }
  .menu {
    padding: 150px 20px 0px 20px;
    overflow: hidden;
  }
  .header__logo img {
    width: 110px;
  }
  .menu__item {
    margin-bottom: 25px;
  }
  .menu__link {
    font-size: 30px;
  }
}
@media screen and (min-width: 290px) and (max-width: 426px) {
  [class*=__container] {
    max-width: 400px;
  }
  .header {
    padding: 20px;
  }
  .header h1 {
    font-size: 40px;
  }
  .header__logo {
    width: 152px;
    height: 14px;
  }
  .small-menu__container {
    margin-left: 5px;
    padding-bottom: 5px;
  }
  .small-menu__item {
    margin-bottom: 20px;
  }
  .menu-button__on, .menu-button__off {
    font-size: 19px;
  }
  .intro-block__tablet p {
    display: inline;
  }
  .intro-block__tablet h1 {
    display: inline-block;
  }
  .intro {
    margin-top: 100px;
  }
  .intro__pic {
    height: 505px;
    background-size: cover;
  }
  .about {
    margin-top: 90px;
  }
  .about-section__block--margin {
    margin-bottom: 90px;
  }
  .about-section__title {
    margin-bottom: 30px;
  }
  .about-section__list {
    display: block;
  }
  .about-section__item {
    display: block;
  }
  .about-section__item::after {
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 0;
  }
  .about-section__item:last-child::after {
    display: block;
  }
  .about-section__item--1 {
    margin-right: 0;
  }
  .about-section__item--2 {
    margin-left: 0;
  }
  .about-section__story::before {
    content: "04";
    font-family: "Neue Haas Grotesk Display Pro";
    font-weight: 500;
    font-size: 17px;
    line-height: 158%;
    color: #BDBDBD;
    margin-bottom: 18px;
  }
  .about-section__paragraph {
    margin-top: 25px;
  }
  .about-section__elem-tablet p {
    margin-top: 20px;
    margin-left: 6%;
    margin-right: 6%;
    width: 88%;
  }
  .releases {
    margin-top: 50px;
  }
  .releases__title {
    margin-bottom: 30px;
  }
  .swiper-slide__title {
    margin-bottom: 20px;
  }
  .swiper-slide__text {
    font-size: 15px;
    line-height: 162%;
  }
  .swiper-slide__details {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 990px) and (max-width: 1140px) {
  h1 {
    font-size: 70px;
    line-height: 104%;
  }
}
@media screen and (min-width: 769px) and (max-width: 990px) {
  h1 {
    font-size: 50px;
  }
  .intro-block__text p {
    font-size: 14px;
  }
  .about {
    margin-top: 140px;
    margin-bottom: 90px;
  }
  .about-section h2 {
    font-size: 40px;
    line-height: 112%;
  }
  .about-section__block--margin {
    margin-bottom: 140px;
    margin-left: 15%;
  }
  .about-section__story {
    margin-left: 28%;
  }
}
@media screen and (min-width: 767.98px) and (max-width: 1025px) {
  .swiper {
    display: block;
  }
  .desktop__block {
    display: none;
  }
  .releases__container--custom {
    padding: 0;
    max-width: 100%;
  }
  .swiper-slide__elem {
    width: 100%;
  }
  .swiper-slide__elem img {
    display: block;
    max-width: 100%;
  }
  .swiper-slide__title {
    margin-top: 15px;
    margin-bottom: 25px;
  }
  .swiper-slide__text {
    margin-bottom: 40px;
    min-height: 107px;
  }
  .swiper-slide__details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1920px) {
  .releases__container--custom {
    max-width: 1202px;
    margin: 0px auto;
    padding: 0px 15px;
  }
}
@media screen and (min-width: 1025px) {
  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }
  .desktop__elem {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .desktop__pic {
    flex-basis: 25%;
  }
  .desktop__pic img {
    display: block;
    width: 100%;
  }
  .desktop__descr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 75%;
  }
  .desktop__wrap {
    display: flex;
    justify-content: space-between;
  }
  .desktop__title {
    flex-basis: 30%;
  }
  .desktop__text {
    flex: 0 1 40%;
  }
  .desktop__details {
    display: flex;
    justify-content: space-between;
  }
  .desktop__year, .desktop__listen, .desktop__title {
    font-family: "PoppinsRegular", sans-serif;
    font-weight: 500;
    color: #F2F2F2;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 125%;
  }
}/*# sourceMappingURL=styles.css.map */