//Common styles
body{
    height: 100%;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-size: 17px;
    background: url(../images/background.png);
	background-color: #171717;
    background-repeat: repeat;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

[class*="__container"]{
    max-width: 1232px;
    margin: 0px auto;
    padding: 0px 15px;
}

// Fonts
@font-face {
    font-family: PoppinsRegular, sans-serif;
    src: url("../fonts/Poppins/PoppinsRegular/PoppinsRegular.ttf");
}
@font-face {
    font-family: PoppinsMedium, sans-serif;
    src: url("../fonts/Poppins/PoppinsMedium/Poppins-Medium.ttf");
}
@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeue/HelveticaNeueRegular.ttf");
}
@font-face {
    font-family: "Helvetica Neue Woff";
    src: url("../fonts/HelveticaNeue/HelveticaNeueRegular.woff");
}
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("../fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayMedium/NeueHaasDisplayMedium.ttf");
}