// Header section

.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    transition: 0.3s ease-in;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include unselectable;
        @include hightlight
    }

    &__logo img{
        max-width: 100%;
        display: block;
    }

    &--active {
        height: calc(100% - 60px);
    }
}

.header__container{
    padding-top: 44px;
    padding-bottom: 40px;
}

.menu {
    &__list{
        display: flex;
    }
    
    &__item{
        padding-right: 50px;
    }
    
    &__item:last-child {
        padding-right: 0px;
    }
    
    &__link{
        position: relative;
        font-family: $nav-text;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: $hover-nav;
        padding: 3px;     
        
        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 1px solid $hover-nav;
            opacity: 0%;
            transition: 1.5s;
        }
        
        &:hover {
            transition: 3s;

            &.menu__link::before {
                animation: navigation 1s;
                top: 8px;
                opacity: 100%;
            }
            
        }


    }

    @keyframes navigation {
        0% {
            top: 30px;
            opacity: 10%;
        }
        100% {
            top: 8px;
            opacity: 100%;
        }

    }

}

.menu-button{
    display: none;
}

.small-menu__list{
    display: none;
}



 


